<section
  id="referral"
  ng-controller="SocialRegistrationCtrl">
  <div class="body-section list-resumes-section">
    <div class="section-content">
      <div class="row">
        <div class="col-xs-12">
          <div
            ba-panel
            ba-panel-class="xsmall-panel light-text spec-detail-panel">
            <h4>
              {{ referredResumes.detail.referralTargetSubject }}
            </h4>

            <div class="target-email">
              Social Share
            </div>
          </div>
        </div>
        <div
          ng-repeat="aResume in referredResumes.list track by aResume.id"
          class="col-xs-12 col-md-3">
          <div
            ba-panel
            ba-panel-class="xsmall-panel light-text resume-panel social-panel">
            <div class="tile-title">
              <h3
                class="resume-title" ng-bind="aResume.userEmail">longnguyen@gm.com</h3>
              <hr class="resumeSeprator">
              <div class="linked-in-url" >
                <a ng-href="{{ aResume.linkUrl }}">{{ aResume.linkUrl }}</a>
              </div>
              <div
                class="tile-datetime"
                ng-bind="formatDateTime(aResume.registeredAt)"></div>
              <div class="controls">
                <span ng-if="aResume.sharedWith === SHARED_LEVEL.PARENT" class="badge badge-info">Shared</span>
                <a
                  ng-if="ableToShare(aResume.sharedWith)"
                  href="#"
                  ng-attr-title="Share With Parent"
                  ng-click="openShareModal(aResume)">
                  <i class="fas fa-external-link-square-alt"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
