	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">Add New Resume</h4>
	</div>
	<div id="saveMessage"></div>
	<div ng-controller = "myCtrl">
	
		<div class="modal-body">
				<div class="form-group" >
						<div class="control-label">Resume Title</div>
						<input type="text" class="form-control" placeholder="Resume Title" ng-model="resumeTitle" ng-required="true" />
				</div>
				<div class="form-group" >
						<div class="control-label">Resume Type</div>
						<input type="text" class="form-control" placeholder="Resume Type" ng-model="resumeType" ng-required="true" />
				</div>
					<div class="form-group">
						<div class="control-label">Resume File</div>
						<input type="file" class="form-control" placeholder="Resume File" file-model="myFile"  accept=".doc"/>				
					</div> 		
			</div>
		<div class="modal-footer clearfix">
			
			<button type="button" class="btn btn-primary btn-block" ng-click="uploadFile()">Save Resume</button>
		</div>  
	</div>
