<section
  id="user-management"
  ng-controller="UserManagementCtrl">
  <div class="top-filter-section">
    <div class="identify-filter">
      <div class="filter-label">Search for user</div>
      <div class="filter-input">
        <div class="form-group">
          <input
            ng-model="userManagement.emailSearch"
            ng-keypress="$event.keyCode === 13 && loadUsers()"
            class="form-control"
            type="text"
            placeholder="Enter email to search" />
        </div>
      </div>
    </div>
  </div>

  <div class="user-list-result">
    <div class="user-list">
      <div class="user-row" ng-repeat="aUser in userManagement.users track by aUser.id">
        <div class="card">
          <div class="card-body">
            <div class="top-info">
              <div class="left-identify">
                <div class="avatar">
                  <img src="assets/img/app/profile/user.png"/>
                </div>
                <div class="info-row">
                  <div class="user-id">
                    #{{ aUser.id }}
                  </div>
                  <div class="user-email">
                    {{ aUser.email }}
                  </div>
                </div>
              </div>

              <div class="right-controls">
                <i style="cursor: pointer" class="fa fa-times" ng-click="openDeleteModal(aUser.id, $index)"></i>
              </div>
            </div>
            <hr class="separator" />

            <div class="main-info">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="info-col">
                    <div class="info-label">
                      Name
                    </div>

                    <div class="info-text">
                      {{ aUser.firstName }} {{ aUser.lastName }}
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Referral Link
                    </div>

                    <div class="info-text">
                      <span class="referral-link generate-link text-warning">
                        <a ng-href="{{ getReferralDirect(aUser.id, aUser.email) }}">Links</a>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Created Date
                    </div>

                    <div class="info-text">
                      -
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-2">
                  <div class="info-col">
                    <div class="info-label">
                      Role
                    </div>

                    <div class="info-text">
                      <span ng-if="aUser.roleId === 1">User</span>
                      <span ng-if="aUser.roleId === 2">Admin</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
