<section
  id="user-management"
  ng-controller="UserManagementCtrl">
  <div class="top-filter-section">
    <div class="identify-filter">
      <div class="filter-label">Search for user</div>
      <div class="filter-input">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter email or name to search" />
        </div>
      </div>
    </div>
  </div>

  <div class="user-list-result">
    <div class="user-list">
      <div class="user-row">
        <div class="card">
          <div class="card-body">
            <div class="top-info">
              <div class="left-identify">
                <div class="avatar">
                  <img src="assets/img/app/profile/user.png"/>
                </div>
                <div class="info-row">
                  <div class="user-id">
                    #15302532
                  </div>
                  <div class="user-email">
                    user1@gmail.com
                  </div>
                </div>
              </div>

              <div class="right-controls">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <hr class="separator" />

            <div class="main-info">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="info-col">
                    <div class="info-label">
                      Name
                    </div>

                    <div class="info-text">
                      Etiam tincidunt aliquam
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Referral Link
                    </div>

                    <div class="info-text">
                      <span class="referral-link generate-link text-warning">
                        Click here to generate
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Created Date
                    </div>

                    <div class="info-text">
                      01/01/2021
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-2">
                  <div class="info-col">
                    <div class="info-label">
                      Role
                    </div>

                    <div class="info-text">
                      User
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-row">
        <div class="card">
          <div class="card-body">
            <div class="top-info">
              <div class="left-identify">
                <div class="avatar">
                  <img src="assets/img/app/profile/user.png"/>
                </div>
                <div class="info-row">
                  <div class="user-id">
                    #15302532
                  </div>
                  <div class="user-email">
                    user1@gmail.com
                  </div>
                </div>
              </div>

              <div class="right-controls">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <hr class="separator" />

            <div class="main-info">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="info-col">
                    <div class="info-label">
                      Name
                    </div>

                    <div class="info-text">
                      Etiam tincidunt aliquam
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Referral Link
                    </div>

                    <div class="info-text">
                      <span class="referral-link generate-link text-warning">
                        Click here to generate
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Created Date
                    </div>

                    <div class="info-text">
                      01/01/2021
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-2">
                  <div class="info-col">
                    <div class="info-label">
                      Role
                    </div>

                    <div class="info-text">
                      User
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-row">
        <div class="card">
          <div class="card-body">
            <div class="top-info">
              <div class="left-identify">
                <div class="avatar">
                  <img src="assets/img/app/profile/user.png"/>
                </div>
                <div class="info-row">
                  <div class="user-id">
                    #15302532
                  </div>
                  <div class="user-email">
                    user1@gmail.com
                  </div>
                </div>
              </div>

              <div class="right-controls">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <hr class="separator" />

            <div class="main-info">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="info-col">
                    <div class="info-label">
                      Name
                    </div>

                    <div class="info-text">
                      Etiam tincidunt aliquam
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Referral Link
                    </div>

                    <div class="info-text">
                      <span class="referral-link generate-link text-warning">
                        Click here to generate
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Created Date
                    </div>

                    <div class="info-text">
                      01/01/2021
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-2">
                  <div class="info-col">
                    <div class="info-label">
                      Role
                    </div>

                    <div class="info-text">
                      User
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-row">
        <div class="card">
          <div class="card-body">
            <div class="top-info">
              <div class="left-identify">
                <div class="avatar">
                  <img src="assets/img/app/profile/user.png"/>
                </div>
                <div class="info-row">
                  <div class="user-id">
                    #15302532
                  </div>
                  <div class="user-email">
                    user1@gmail.com
                  </div>
                </div>
              </div>

              <div class="right-controls">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <hr class="separator" />

            <div class="main-info">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="info-col">
                    <div class="info-label">
                      Name
                    </div>

                    <div class="info-text">
                      Etiam tincidunt aliquam
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Referral Link
                    </div>

                    <div class="info-text">
                      <span class="referral-link generate-link text-warning">
                        Click here to generate
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Created Date
                    </div>

                    <div class="info-text">
                      01/01/2021
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-2">
                  <div class="info-col">
                    <div class="info-label">
                      Role
                    </div>

                    <div class="info-text">
                      User
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-row">
        <div class="card">
          <div class="card-body">
            <div class="top-info">
              <div class="left-identify">
                <div class="avatar">
                  <img src="assets/img/app/profile/user.png"/>
                </div>
                <div class="info-row">
                  <div class="user-id">
                    #15302532
                  </div>
                  <div class="user-email">
                    user1@gmail.com
                  </div>
                </div>
              </div>

              <div class="right-controls">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <hr class="separator" />

            <div class="main-info">
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="info-col">
                    <div class="info-label">
                      Name
                    </div>

                    <div class="info-text">
                      Etiam tincidunt aliquam
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Referral Link
                    </div>

                    <div class="info-text">
                      <span class="referral-link generate-link text-warning">
                        Click here to generate
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-3">
                  <div class="info-col">
                    <div class="info-label">
                      Created Date
                    </div>

                    <div class="info-text">
                      01/01/2021
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-2">
                  <div class="info-col">
                    <div class="info-label">
                      Role
                    </div>

                    <div class="info-text">
                      User
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
