<div class="modal-header">
    <h4 class="modal-title text-center">Type Your New Password</h4>
</div>

<div class="modal-body">
    <form name="ChangePasswordForm">
        <div class="form-group" ng-class="{ 'has-error' : user.userPassword.$invalid && !user.userPassword.$pristine }">
            <input type="password" class="form-control" placeholder="Type New Password" ng-model="user.userPassword" ng-required="true" />
        </div>
    </form>
</div>

<div class="modal-footer clearfix">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-disabled="forgotPasswordForm.$invalid" ng-click="ChangePassword(user, ChangePasswordForm)">Reset Password</button>
</div>