/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);*/

/*

	primary-color: ;

	link: ;

	header link: #00C582;


*/




html,
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	cursor: default;
	overflow-x: hidden;
	position: relative;
	font-size: 100%;
	vertical-align: baseline;
	min-height: 100%;
}

body {
	background-color: #f1f1f1;
}

body * {	
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

img {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

a,
a:hover,
a:active {	
	color: #009de0;
	text-decoration: none !important;
	outline: 0;
}

a:hover {
	color: #428BCA;
}





/*-------------------------- Common Changes ----------------------------*/


#header {
}

.navbar.header {
	padding: 15px 0;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: 0px 0px 3px 1px #ddd;
	background: rgba(255, 255, 255, 0.9);
	transition: all ease 0.3s;
}

.navbar.header.slimHeader {
	padding-top: 2px !important;
	padding-bottom: 0 !important;
}

.navbar-brand.logo {
	max-width: 150px;
	max-height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.header .logo img {
	width: 100%;
	height: 100%;
}

.nav.navbar-nav {
	
}

.navbar-nav > li > a {
	font-size: 12px;
	border-bottom: 3px solid transparent;
	transition: all ease 0.3s;
}

.navbar-nav > li > a:hover {
	border-bottom: 3px solid #00C582;
	transition: all ease 0.3s;
}

.navbar-nav > li.active > a {
	border-bottom: 3px solid #00C582;
	background-color: transparent !important;
}



#footer {
	z-index: 999;
	position: relative;
	background: #222;
	color: #eee;
	padding: 20px 0;
	font-size: 12px;
	border-top: 1px solid #111;
}

.main {
	position: relative;	
	margin-top: 130px;
	min-height: 500px;
}


/*-------------------------- Page Wise Changes ----------------------------*/


.jobs-list {
	margin: 20px auto;
}

.jobs-list .job-wrapper {
	margin: 10px 0;
}

.job-details p i.fa,
.recruiter-details p i.fa {
	margin-right: 5px;
}

/*-------------------------- Bootstrap Changes ----------------------------*/

.panel {
}

.panel-default {
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
}


/*-------------------------- Utilitis Changes ----------------------------*/

.fa {
	font-family: "FontAwesome" !important;
}

.fa-round {
	border-radius: 100%;
}

.bold {
	font-weight: bold;
}

.col-primary {
	color: #00C582;
}

.bg-white {
	background: #fff;
}

.bg-gray {
	background-color: #585B5E;
	color: #fff;
}



@media (max-width : 768px) {

  	.center-sm {
		float: none !important;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.nofloat-sm {
		float: none !important;
	}

	.text-center-sm {
		text-align: center;
	}
}