<section
  id="referral"
  ng-controller="ReferredResumesCtrl">
    <div class="body-section list-resumes-section">
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="tile-title">
                <h3 class="resume-title">
                  Etiam tincidunt ex et sapien maximus
                </h3>
                <hr class="resumeSeprator">
                <div class="tile-filename">
                  resume.docx
                </div>
                <div class="tile-datetime">
                  10 Jan, 2021 07:10
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="tile-title">
                <h3 class="resume-title">
                  Etiam tincidunt ex et sapien maximus
                </h3>
                <hr class="resumeSeprator">
                <div class="tile-filename">
                  resume.docx
                </div>
                <div class="tile-datetime">
                  10 Jan, 2021 07:10
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="tile-title">
                <h3 class="resume-title">
                  Etiam tincidunt ex et sapien maximus
                </h3>
                <hr class="resumeSeprator">
                <div class="tile-filename">
                  resume.docx
                </div>
                <div class="tile-datetime">
                  10 Jan, 2021 07:10
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="tile-title">
                <h3 class="resume-title">
                  Etiam tincidunt ex et sapien maximus
                </h3>
                <hr class="resumeSeprator">
                <div class="tile-filename">
                  resume.docx
                </div>
                <div class="tile-datetime">
                  10 Jan, 2021 07:10
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="tile-title">
                <h3 class="resume-title">
                  Etiam tincidunt ex et sapien maximus
                </h3>
                <hr class="resumeSeprator">
                <div class="tile-filename">
                  resume.docx
                </div>
                <div class="tile-datetime">
                  10 Jan, 2021 07:10
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="tile-title">
                <h3 class="resume-title">
                  Etiam tincidunt ex et sapien maximus
                </h3>
                <hr class="resumeSeprator">
                <div class="tile-filename">
                  resume.docx
                </div>
                <div class="tile-datetime">
                  10 Jan, 2021 07:10
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
