<div class="modal-header">
  <h4 class="modal-title"
      ng-if="!referredResumes.sharingSuccess"
      ng-bind="isShareToTarget(referredResumes.shareResume.sharedWith) ?
  'Share Resumes To Target' : 'Share Resumes To Parent'"></h4>
  <h4 class="modal-title"
      ng-if="referredResumes.sharingSuccess">Success</h4>
</div>
<div class="modal-body">
  <h5 ng-if="!referredResumes.sharingSuccess"
      ng-bind="isShareToTarget(referredResumes.shareResume.sharedWith) ?
  'Would you like to continue sharing this resumes to target?' :
  'Would you like to continue sharing this resumes to parent?'"></h5>
  <h5 class="text-success" ng-if="referredResumes.sharingSuccess">Referred resume has been shared successfully!</h5>
</div>
<div
  class="modal-footer clearfix">
  <button
    ng-disabled="referredResumes.sharing"
    ng-if="!referredResumes.sharingSuccess"
    ng-click="!referredResumes.sharing && shareReferredResumes()"
    type="button"
    class="btn btn-primary" ng-bind="referredResumes.sharing ? 'Sharing...' : 'Share'">
  </button>
  <button
    ng-if="!referredResumes.sharingSuccess"
    type="button"
    class="btn btn-secondary" ng-click="!referredResumes.sharing && closeModal()">
    Cancel
  </button>
  <button
    ng-if="referredResumes.sharingSuccess"
    type="button"
    class="btn btn-secondary" ng-click="closeModal()">
    Okay
  </button>
</div>