<section id="account">

    <div class="container full">


        <div>
            <form name="myForm">
                <label for="repeatSelect"> Select Campaigns: </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="user.currentCampaign">
                    <option ng-repeat="mycampaign in user.myCampaigns" value="{{mycampaign.id}}">{{mycampaign.campaign}}</option>
                </select>
            </form>
            <hr>
        </div>


        <!--<div class="row form-group">-->
            <!--<div class="col-sm-12">-->
                <!--<h2 class="text-center">Add Notes</h2>-->
                <!--<div class="clearfix">-->
                    <!--<div class="pull-right">-->
                        <!--<button class="btn btn-primary" ng-click="addNewNotesModel()">-->
                            <!--<i class="fa fa-plus"></i>-->
                            <!--<span>Add</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">

            <div class="col-sm-12">

                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2">

                        <div class="notes-list">

                            <div class="panel panel-default notes-item" ng-repeat="note in user.myNotes | filter : {campaignId:user.currentCampaign}">

                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-sm-6">

                                            <div class="form-group">

                                                <legend>
                                                    <div class="text-center">
                                                        <strong>
                                                            <span>Recruiter Note Details</span>
                                                        </strong>
                                                    </div>
                                                </legend>

                                            </div>

                                            <div class="row-group">

                                                <div class="icon">
                                                    <span class="fa fa-fw fa-user-md"></span>
                                                    <p>Recruiter Name:</p>
                                                </div>

                                                    <p>
                                                        <strong>
                                                            <span ng-bind="note.recruiter"></span>
                                                        </strong>
                                                    </p>


                                            </div>

                                            <div class="row-group">

                                                <div class="icon">
                                                    <span class="fa fa-fw fa-user-md"></span>
                                                    <p>Recruiter Email:</p>
                                                </div>

                                                <p>
                                                    <strong>
                                                        <span ng-bind="note.toRecruiter"></span>
                                                    </strong>
                                                </p>


                                            </div>

                                            <div class="row-group">

                                                <div class="group-wrapper">

                                                    <div class="icon">
                                                        <span class="fa fa-fw fa-user-md"></span>

                                                        <p>Agency Name:</p>
                                                    </div>
                                                    <p>
                                                        <strong>
                                                            <span ng-bind="note.agency"></span>
                                                        </strong>
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="row-group">

                                                <div class="group-wrapper">

                                                    <div class="text">
                                                        Created Date:
                                                    </div>

                                                    <div class="icon">
                                                        <span class="fa fa-fw fa-calendar"></span>
                                                    </div>
                                                    <p>
                                                        <strong>
                                                            <span ng-bind="note.createdDate"></span>
                                                        </strong>
                                                    </p>

                                                </div>

                                            </div>

                                            <div class="row-group">

                                                <div class="group-wrapper">

                                                    <div class="text">
                                                        Notes:
                                                    </div>
                                                    <p>
                                                        <strong>
                                                            <span ng-bind="note.notes"></span>
                                                        </strong>
                                                    </p>

                                                </div>
                                            </div>

                                            <button data-ng-click="deleteNotes(note.id, $index)" class="btn btn-primary">Delete</button>
                                            <button data-ng-click="editNotesModel(note, $index)" class="btn btn-primary">Edit</button>
                                            <button data-ng-click="viewNotesModel(note.id, $index)" class="btn btn-primary">Full Details</button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>