	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">Delete Resume</h4>
	</div>
	<div>
	<input type="hidden" ng-model="id"/>
		<div class="modal-body">
				<span>Are you sure you want to delete this Resume?</span>		
			</div>
		<div class="modal-footer clearfix">
			<button type="button" class="btn btn-primary" ng-click="deleteResume()">Yes</button>
			<button type="button" class="btn btn-primary" ng-click="closeModal()">No</button>
		</div>  
	</div>
