


    <section id="login" ng-controller="AuthCtrl">

        <div class="">

            <div class="row">

                <div class="col-sm-12">

                    <div class="login-box">

                        <h3 class="title">Login</h3>

                        <form name="loginForm" autocomplete="off">

                            <div class="form-group" ng-class="{ 'has-error' : user.login.email.$invalid && !user.login.email.$pristine }">
                                <input type="text" class="form-control" placeholder="Email" ng-model="user.login.email" ng-required="true" />
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : user.login.password.$invalid && !user.login.password.$pristine }">
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.login.password" ng-required="true" />
                            </div>

                            <div class="checkbox">
          						<label>
            					<input type="checkbox" value="_spring_security_remember_me" ng-model="user.login.rememberme" name="remember-me" id="remember-me"> Remember me
          						</label>
        					</div>


                            <div class="form-group">
                                <button ng-show="formProcessing" class="btn btn-primary btn-block btn-action" id="login-button" disabled=""><i class="fa fa-spin fa-spinner"></i> Processing</button>
                                <button ng-hide="formProcessing" type="submit" class="btn btn-primary btn-block btn-action" id="login-button" ng-disabled="loginForm.$invalid" ng-click="login(user.login, loginForm)">Login</button>
                            </div>

                        </form>

                        <div class="forgot-password">
                            <button ng-click="showForgotPasswordModal()" class="btn btn-link btn-block">
                                <span>Forgot Password?</span>
                            </button>
                        </div>

						<div class="forgot-password" ng-show="showReactivate">
                            <button ng-click="showReactivateModal()" class="btn btn-link btn-block">
                                <span>Send activation link</span>
                            </button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
