


<section id="TrackBulkResume" ng-controller="TrackBulkResumeCtrl">

    <div class="container full" data-ng-init="validateUserTick()">

            <div class="row">

                <div class="col-sm-12">

                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-1">

                            <form name="trackBulkResumeForm">

                                <p>This Form will send bulk tracking emails to your registered email account.You need to open and verify that email and it will trigger open event in your
                                    notification panel.You can forward that email to target Recruiter by removing first line and editing subject "Fw:" etc.</p>

                                <div class="form-group">
                                    <div class="control-label bold">Available Tick:
                                        <span ng-bind="userTick"></span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : trackBulkResumeObj.subject.$invalid && !trackBulkResumeObj.subject.$pristine }">
                                    <div class="control-label">Subject</div>
                                    <input type="text" class="form-control" placeholder="Subject- Your email will use this subject" ng-model="trackBulkResumeObj.subject" ng-required="true" />
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : trackBulkResumeObj.targetList.$invalid && !trackBulkResumeObj.targetList.$pristine }">
                                    <div class="control-label">Target List - Put Each Target in New Line  </br>  x@abc.com </br> y@def.com </br></div>
                                    <textarea class="form-control" placeholder="Target Recruiters List " ng-model="trackBulkResumeObj.targetList" ng-required="true"></textarea>
                                </div>

                                <!--<div class="form-group" ng-class="{ 'has-error' : trackBulkResumeObj.content.$invalid && !trackBulkResumeObj.content.$pristine }">-->
                                <!--<div class="form-group" text-angular="text-angular" name="trackBulkResumeObj.content" ng-model="trackBulkResumeObj.content"/>-->
                                <!--</div>-->


                                <div class="form-group" ng-class="{ 'has-error' : trackBulkResumeObj.content.$invalid && !trackBulkResumeObj.content.$pristine }">
                                    <div class="control-label">Content</div>
                                    <ng-ckeditor
                                            ng-model="trackBulkResumeObj.content"
                                            remove-buttons="Image"
                                            remove-plugins="iframe,flash,smiley" >
                                    </ng-ckeditor>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : trackBulkResumeObj.notes.$invalid && !trackBulkResumeObj.notes.$pristine }">
                                    <div class="control-label">Notes</div>
                                    <textarea class="form-control" placeholder="Notes" ng-model="trackBulkResumeObj.notes" ng-required="false"></textarea>
                                </div>

                                <section id="resumes" ng-controller="ResumesCtrl">
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="clearfix">
                                                <div class="pull-right">
                                                    <button class="btn btn-primary" ng-click="addNewResumeModelFromTrackResumeModel()">
                                                        <i class="fa fa-plus"></i>
                                                        <span>Upload Quick CV</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <div class="form-group" ng-class="{ 'has-error' : trackBulkResumeObj.resume.$invalid && !trackBulkResumeObj.resume.$pristine }">
                                    <div class="control-label">Resume - Select One From the List</div>
                                    <select
                                            class="form-control"
                                            data-placeholder="Resume Title"
                                            ng-model="trackBulkResumeObj.resumeId"
                                            ng-required="true">
                                        <option value=""></option>
                                        <option ng-repeat="resume in user.myResumes" value="{{resume.id}}">{{resume.resumeName}} {{resume.resumeTitle}} {{resume.resumeType}}</option>
                                    </select>
                                </div>

                                <div class="form-group" style="margin-top: 40px;">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="trackBulkResumeForm.$invalid" ng-click="
									postRequest(trackBulkResumeForm, trackBulkResumeObj)">Proceed</button>
                                </div>

                            </form>

                        </div>


                    </div>

                </div>

            </div>

        </div>

</section>
