@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);


html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	margin-bottom: 60px;
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	cursor: default;
	overflow-x: hidden;
	font-size: 100%;
	vertical-align: baseline;
}

body * {	
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

img {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

textarea {
	resize: none;
	min-height: 100px;
}

a,
a:hover,
a:active {	
	color: #009de0;
	text-decoration: none !important;
	outline: 0;
}

a:hover {
	color: #428BCA;
}





/*-------------------------- Common Changes ----------------------------*/


#header {
}

.navbar.header {
	padding: 15px 0;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: 0px 0px 3px 1px #ddd;
	background: rgba(255, 255, 255, 0.9);
}

.navbar.header.slimHeader {
	padding-top: 2px !important;
	padding-bottom: 0 !important;
}

.navbar-brand.logo {
	
	padding-top: 0;
	padding-bottom: 0;
}

.header .logo img {
	width: 152px;
	height: 53px;
}

.nav.navbar-nav {
	
}

.navbar-nav > li > a {
	font-size: 12px;
	border-bottom: 3px solid transparent;
	transition: all ease 0.3s;
}

.navbar-nav > li > a:hover {
	border-bottom: 3px solid #00C582;
	transition: all ease 0.3s;
}

.navbar-nav > li.active > a {
	border-bottom: 3px solid #00C582;
	background-color: transparent !important;
}



#footer {
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	background: #222;
	color: #eee;
	padding: 20px 0;
	font-size: 12px;
	border-top: 1px solid #111;
}

.main {
	position: relative;	
	margin-top: 170px;
	margin-bottom: 100px;
}


/*-------------------------- Page Wise Changes ----------------------------*/


.dashboard-tiles {
	margin: 0;
	position: relative;
}

.dashboard-tiles .tile-item {
	margin-top: 10px;
	background: #fff;
	text-align: center;
	cursor: pointer;
}

.dashboard-tiles a.tile-item {
	display: block;
	color: inherit;
	position: relative;
	word-break: break-word;
}

.dashboard-tiles .tile-item:hover {
	opacity: 0.7;
}

.dashboard-tiles .tile-item .tile-thumb {
	padding: 20px;
}

.dashboard-tiles .tile-item .tile-title {
	padding: 20px;
}

.dashboard-tiles .tile-item .tile-head,
.dashboard-tiles .tile-item .tile-body {
	padding: 20px;
}



h3.title {	
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 30px;
}





.jobs-list {
	margin: 20px auto;
}

.jobs-list .job-wrapper {
	margin: 10px 0;
}

.job-details p i.fa,
.recruiter-details p i.fa {
	margin-right: 5px;
}






.footer-social {
	padding: 0;
	margin: 0;
	position: relative;
	list-style: none;
	margin-bottom: 10px;
}

.footer-social li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

.footer-social li a {
	color: #eee;
}

.footer-social li a:hover {
	opacity: 0.7;
}

/*-------------------------- Bootstrap Changes ----------------------------*/

.container.full {
	width: 90% !important;
	max-width: 90% !important;
}

.panel {

}

.panel-default {
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.panel-gray {
	border-color: #ddd;
}

.alert {
	position: relative;
	top: 120px;
	width: 100%;
	z-index: 99;
}

.bg-info,
.alert-info {
	background-color: #00CCDD;
}

.bg-warning,
.alert-warning {
	background-color: #FFD600;
}

.bg-danger,
.alert-danger {
	color: #fff;
	background-color: #EA5900;
}

.bg-success,
.alert-success {
	color: #fff;
	background-color: #20D36D;
}

/*-------------------------- Utilitis Changes ----------------------------*/

.fa {
	font-family: "FontAwesome" !important;
}

.fa-round {
	border-radius: 100%;
}

.bold {
	font-weight: bold;
}

.col-primary {
	color: #00C582;
}

.bg-white {
	background: #fff;
}

.bg-gray {
	background-color: #585B5E;
	color: #fff;
}

.ellipses {	
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


@media (max-width : 768px) {

	#footer {
		height: 100px;
	}

	body {
		margin-bottom: 100px;
	}

  	.center-sm {
		float: none !important;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.nofloat-sm {
		float: none !important;
	}

	.text-center-sm {
		text-align: center;
	}
}


/* Made By H.Mounir
 * Created Date: 3-5-2015
 * Component: Main Header
 * ----------------------
 */
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
.main-header > .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  border: none;
  min-height: 50px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.9);
}


.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
}

@media (max-width: 767px) {
  .main-header .navbar-right {
    float: none;
  }
  .navbar-collapse .main-header .navbar-right {
    margin: 7.5px -15px;
  }
  .main-header .navbar-right > li {
    color: inherit;
    border: 0;
  }
}


.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}
.main-header .logo {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 105px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}


.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0!important;
  margin: 0!important;
  top: 100%;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444!important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background: #fff!important;
    color: #444!important;
  }
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0px;
  padding: 10px 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
  background: darkgrey;
}
.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
}
.user-header > p > small {
  display: block;
  font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #444 !important;
}
@media (max-width: 991px) {
  .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}
.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}
/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/
.open:not(.dropup) > .animated-dropdown-menu {
  backface-visibility: visible !important;
  -webkit-animation: flipInX 0.7s both;
  -o-animation: flipInX 0.7s both;
  animation: flipInX 0.7s both;
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}
/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}

/*
Added By H.Mounir
Date Created: 29-05-2015
*/
#alertModel{
	top : 5px;
}