<style>
    .main {
        margin-top: 85px;
        margin-bottom: 0px;
    }
</style>
<!-- body-content -->
<div class="body-content clearfix" ng-controller="JobsCtrl" data-ng-init="initJiewPage()">

    <!-- link top -->
    <div class="bg-color2 block-section-xs line-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div>Job details :</div>
                </div>
                <div class="col-sm-6">
                    <div class="text-right"><a href="#" ng-click="backButton()">« Go back to job listings</a></div>
                </div>
            </div>
        </div>
    </div><!-- end link top -->

    <div class="bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <!-- box item details -->
                    <div class="block-section box-item-details">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 style="font-weight: bold;"><a href="#" editable-text="selectedJob.jobTitle" edit-disabled="!isAdmin">{{ selectedJob.jobTitle || "" }}</a></h2>
                            </div>
                            <div class="col-md-12">
                                <span>Agency: </span><a href="#" editable-text="selectedJob.agency" edit-disabled="!isAdmin">{{ selectedJob.agency || "" }}</a>
                            </div>
                            <div class="col-md-12">
                                <span>Recruiter: </span><a href="#" editable-text="selectedJob.recruiter" edit-disabled="!isAdmin">{{ selectedJob.recruiter || "" }}</a>
                            </div>
                            <div class="col-md-12">
                                <span>Recruiter Mail: </span><a href="#" editable-text="selectedJob.recruiterEmail" edit-disabled="!isAdmin">{{ selectedJob.recruiterEmail || "" }}</a>
                            </div>
                        </div>

                        <h2 class="title"></h2>
                        <div class="job-meta">
                            <ul class="list-inline">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span>Salary: </span><input type="number" class="form-control" ng-model="selectedJob.salaryRange" ng-disabled="!isAdmin"/>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Location: </span>
                                        <select ng-model="selectedJob.jobLocation" class="form-control"
                                                ng-options="i.id as (i.cityName) for i in citiesList" id="cities" name="cities" ng-disabled="!isAdmin">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Job Type: </span>
                                        <select ng-model="selectedJob.jobType" class="form-control" name="jobTypeList" id="jobTypeList"
                                                ng-options="i.id as (i.name) for i in jobTypeList" ng-disabled="!isAdmin">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </ul>
                            <ul class="list-inline">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <span>Created Date: </span><input type="text" class="form-control" ng-model="selectedJob.createdDate" disabled="true"/>
                                    </div>
                                    <div class="col-xs-6" ng-show="isAdmin">
                                        <span>Job Status: </span>
                                        <select ng-model="selectedJob.jobStatus" class="form-control"
                                                ng-options="i.id as (i.name) for i in jobStatustDropDown">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <ng-ckeditor  ng-model="selectedJob.jobDescription" ng-config="viewJobEditor" ng-disabled="disableEditor">
                        </ng-ckeditor>

                        <!--<p>Company Info Here</p>-->
                    </div><!-- end box item details -->

                </div>
                <div class="col-md-3">

                    <!-- box affix right -->
                    <div class="block-section affix-top" id="affix-box">
                        <div class="text-right">
                            <!--<p><a href="#" class="btn btn-theme btn-line dark btn-block-xs">Apply WIth Linkedin</a></p>-->
                            <p><a href="#" data-toggle="modal" class="btn btn-theme btn-t-primary btn-block-xs" ng-click="openApplyJobModel()">Apply This Job</a></p>
                            <!--<p><a href="#" class="btn btn-theme btn-t-primary btn-block-xs">Login to Save This Job</a></p>-->
                            <p><a href="#" id="btn-edit_job-toogle" ng-click="openEditJobModel()" class="btn btn-theme btn-t-primary btn-block-xs" ng-show="isAdmin">Edit Job</a></p>
                            <p><a href="#" id="btn-approve_job-toogle" ng-click="openApproveJobModel()" class="btn btn-theme btn-t-primary btn-block-xs" ng-show="isFromMail">Approve Job</a></p>
                            <p><a href="#" id="btn-reject_job-toogle" ng-click="openRejectJobModel()" class="btn btn-theme btn-t-primary btn-block-xs" ng-show="isFromMail">Reject Job</a></p>

                            <!--<p>Share This Job <span class="space-inline-10"></span> :</p>-->
                            <!--<p class="share-btns">-->
                                <!--<a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a>-->
                                <!--<a href="#" class="btn btn-info"><i class="fa fa-twitter"></i></a>-->
                                <!--<a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>-->
                                <!--<a href="#" class="btn btn-warning"><i class="fa fa-envelope"></i></a>-->
                            <!--</p>-->
                        </div>
                    </div><!-- box affix right -->

                </div>
            </div>
        </div>
    </div>
</div>
