
<form name="editJobForm" novalidate>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                ng-click="closeModal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Edit Job</h4>
    </div>
    <alert ng-repeat="alert in alerts track by $index" type="{{alert.type}}" close="alerts.splice($index, 1)" id="alertModel">
        <div ng-bind="alert.message"></div>
    </alert>
    <div>

        <div class="modal-body">
            <div class="form-group">
                <ng-ckeditor
                        ng-model="job.jobDescription"
                        remove-buttons="Image"
                        remove-plugins="iframe,flash,smiley" >
                </ng-ckeditor>
            </div>

        </div>
        <div class="modal-footer clearfix">
            <button type="button" class="btn btn-primary btn-block" ng-click="saveSelectedJob();">Save Job</button>
        </div>

    </div>
</form>