<div class="modal-content" >
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span>View Notifications</span>
    </div>
    <div class="modal-body text-center">
        <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                <tr class="black-muted-bg">
                    <th>Recruiter</th>
                    <th>Recruiter Email</th>
                    <th>Agency</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Last Tracked Time</th>
                </tr>
                </thead>
                <tbody>

                <tr data-ng-repeat="notifications in modalNotifications" class="no-top-border">
                    <td data-ng-bind="notifications.recruiter"></td>
                    <td data-ng-bind="notifications.recruiterEmail"></td>
                    <td data-ng-bind="notifications.agency"></td>
                  ` <td data-ng-bind="notifications.city"></td>
                    <td data-ng-bind="notifications.country"></td>
                    <td data-ng-bind="notifications.lastTrackedTime"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
        <button data-ng-click="viewFullNotifications(modalNotifications[1].id,false)" class="btn btn-info">Full Details</button>
    </div>
</div>