
        <div ng-app ng-controller="NotificationsCtrlModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    ng-click="closeModal()">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">View Notifications</h4>
        </div>
        <div>
            <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Recruiter</th>
                    <th>Recruiter Email</th>
                    <th>Agency</th>
                    <th>Event Type</th>
                    <th>Last Tracked Time</th>
                </tr>
                </thead>
                <tbody>

                <tr data-ng-repeat="notifications in modalNotifications">
                    <td data-ng-bind="notifications.recruiter"></td>
                    <td data-ng-bind="notifications.recruiterEmail"></td>
                    <td data-ng-bind="notifications.agency"></td>
                    <td data-ng-bind="notifications.eventType"></td>
                    <td data-ng-bind="notifications.lastTrackedTime"></td>
                </tr>
                </tbody>
            </table>
        </div>
                <div class="modal-footer clearfix">
                </div>

                </div>
            </div>
        </div>
