


	<section id="account">	

		<div class="container full">	

			<div class="row form-group">
				<div class="col-sm-12">
					<h2 class="text-center">Track Resume</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-12">

					<div class="row">

						<div class="col-sm-6 col-sm-offset-3">

							<form name="trackResumeForm">

								<div class="form-group" ng-class="{ 'has-error' : trackResume.from.$invalid && !trackResume.from.$pristine }">
									<div class="control-label">From</div>
									<input type="email" class="form-control" placeholder="From" ng-model="trackResume.from" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : trackResume.to.$invalid && !trackResume.to.$pristine }">
									<div class="control-label">To</div>
									<input type="email" class="form-control" placeholder="To" ng-model="trackResume.to" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : trackResume.recruiter.$invalid && !trackResume.recruiter.$pristine }">
									<div class="control-label">Recruiter</div>
									<input type="text" class="form-control" placeholder="Recruiter" ng-model="trackResume.recruiter" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : trackResume.agency.$invalid && !trackResume.agency.$pristine }">
									<div class="control-label">Agency</div>
									<input type="text" class="form-control" placeholder="Agency" ng-model="trackResume.agency" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : trackResume.subject.$invalid && !trackResume.subject.$pristine }">
									<div class="control-label">Subject</div>
									<input type="text" class="form-control" placeholder="Subject" ng-model="trackResume.subject" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : trackResume.content.$invalid && !trackResume.content.$pristine }">
									<div class="control-label">Content</div>
									<textarea class="form-control" placeholder="Content" ng-model="trackResume.content" ng-required="true"></textarea>
								</div>

								<div class="form-group" ng-class="{ 'has-error' : trackResume.resume.$invalid && !trackResume.resume.$pristine }">
									<div class="control-label">Resume</div>
									<select
										class="form-control" 
										data-placeholder="Resume Title" 
										ng-model="trackResume.resume" 
										ng-required="true">
										<option value=""></option>
										<option ng-repeat="resume in user.myResumes" value="{{resume.resumeFile}}">{{resume.resumeTitle}}</option>
									</select>
								</div>

								<div class="form-group" style="margin-top: 40px;">
									<button type="button" class="btn btn-primary btn-block" ng-disabled="trackResumeForm.$invalid" ng-click="
									postRequest(trackResumeForm, trackResume)">Proceed</button>
								</div>

							</form>

						</div>

					</div>
					
				</div>

			</div>

		</div>

	</section>