	
	<footer id="footer">
	  	<div class="container full">
	    	<div class="row">
	      		<div class="col-sm-4">
	        		<div class="text left text-center-sm">
	          			<!-- <div>Developed By Rapid Koderzz</div> -->
	          			<ul class="footer-social">
		          			<li>
		          				<a href="https://www.facebook.com/spring.singh.5" tooltip="Facebook">
		          					<i class="fa fa-facebook-square fa-2x"></i>
		          				</a>
		          			</li>
		          			<li>
		          				<a href="https://twitter.com/itcontractorsg" tooltip="Twitter">
		          					<i class="fa fa-twitter-square fa-2x"></i>
		          				</a>
		          			</li>
		          			<li>
		          				<a href="" tooltip="Linked In">
		          					<i class="fa fa-linkedin-square fa-2x"></i>
		          				</a>
		          			</li>
		          			<li>
		          				<a href="https://www.youtube.com/user/itcontractorsgroup" tooltip="Youtube">
		          					<i class="fa fa-youtube-square fa-2x"></i>
		          				</a>
		          			</li>
	          			</ul>
	        		</div>
	      		</div>
	      		<div class="col-sm-4 col-sm-offset-4">
	        		<div class="text-right text-center-sm">
	          			<div>&copy; Copyright {{appConfig.appName}}</div>
	        		</div>
	      		</div>
	    	</div>
	  	</div>
	</footer>