<div ng-controller="JobSpecCtrl">
  <div class="row">
    <div class="col-xs-12">
      <div
        ba-panel
        ba-panel-class="with-scroll">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <h2 style="font-weight: bold;">
                <a
                  href="#"
                  id="jobTitle" ng-bind="jobDetail.title"></a>
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="recruiterEmail">Recruiter Email</label>
              <a
                href="#"
                id="recruiterEmail" ng-bind="jobDetail.recruiterEmail">
              </a>
            </div>
          </div>
        </div>

        <ng-ckeditor
          ng-model="jobDetail.spec"
          ng-config="viewJobEditor"
          ng-disabled="disableEditor">
        </ng-ckeditor>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="d-flex grid">
        <div class="col-auto">
          <div class="button-wrapper">
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal">
              Apply Job
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
