<!--
# This file contains HTML code for password Reset page
# Create separate folders for css, images and js or change the path in the code.
# Angular fetches data from url using $location.search() only if url contains
# loading image url : https://www.ultraimg.com/images/load.gif
-->

 <section id="resetPassword">
  <div class="fgt-pwd">
    <div class="container">
        <div class="row">
            <div class="col-md-6 fgt-pwd-col col-md-offset-3">

                <h3 class="title">New Password</h3>
               <form class="new-pwd-form" name="resetForm">
                   <div class="form-group">
                       <input type="password" class="form-control form-inputs" placeholder="New Password" ng-model="user.resetPassword.newPwd1" ng-required="true" />
                    </div>
                   <div class="form-group">
                       <input type="password" class="form-control form-inputs" placeholder="New Password" ng-model="user.resetPassword.newPwd2" ng-required="true" />
                   </div>
                    <p><button class="form-control form-inputs sub-btn" data-ng-disabled="resetForm.$invalid" data-ng-click="resetPassword(newPwd1, newPwd2,resetForm);">Change Password </button></p>
                                 
                </form> 
            </div>
        </div>
    </div>
  </div>
</section>

