<div class="modal-header">
  <button
    type="button"
    class="close"
    data-dismiss="modal">
    <span
      aria-hidden="true"
      ng-click="closeModal()">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">Authentication</h4>
</div>
<div>

  <div class="modal-body">
    Your account has not been authenticated with gmail account to use this feature.
		<br/>
		<br/>
		Please download <a href="https://mycvtracker.com/assets/mycvtracker-extension.zip" target="_blank">this extension</a> and associate your account with a gmail account.
  </div>
</div>
