
<form name="resumeForm" novalidate ng-submit="saveResume()">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			ng-click="closeModal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">Upload Quick Resume</h4>
	</div>
	<alert ng-repeat="alert in alerts track by $index" type="{{alert.type}}" close="alerts.splice($index, 1)" id="alertModel">
		<div ng-bind="alert.message"></div>
	</alert>
	<div>

		<div class="modal-body">
				<!--<div class="form-group" >-->
						<!--<div class="control-label">Resume Title</div>-->
						<!--<input type="text" class="form-control" placeholder="Resume Title you can use your name - Mike Bell" ng-model="resumeTitle" ng-required="true" />-->
				<!--</div>-->
				<!--<div class="form-group" >-->
						<!--<div class="control-label">Resume Type</div>-->
						<!--<input type="text" class="form-control" placeholder="Resume Type - Developer , Architect or Project Manager etc." ng-model="resumeType" ng-required="true" />-->
				<!--</div>-->
					<div class="form-group">
						<div class="control-label">Please note this resume will not be available from Resume Management.
						Please refresh your screen to get this resume in the list after uploading the resume.
							<br/>
						</div>
						<input type="file" class="form-control" placeholder="Resume File" file-model="myFile"  accept=".doc,.pdf,.docx" id="fileUpload"/>
					</div> 		
			</div>
		<div class="modal-footer clearfix">
			<button type="submit" class="btn btn-primary btn-block" ng-disabled="resumeForm.$invalid">Save Resume</button>
		</div>
	</div>
</form>