<section
  id="job-resume-preview-page"
  ng-controller="JobResumePreviewCtrl">
  <div class="body-section">
    <div class="section-content">
      <div class="section-title">
        <h4>Fullstack Developer</h4>
        <div class="location">
          Location: Ha Noi
        </div>
      </div>

      <div class="resume-preview-iframe">
        <iframe
          src="https://view.officeapps.live.com/op/embed.aspx?src=https://mycvtracker.com:8080/user/previewResume?accessToken=eda8873fe10443518ad1e22cec51827a"
          width="100%"
          height="400"></iframe>
      </div>

      <div class="writing-review">
        <div class="writing-panel">
          <div class="panel-title">
            Leave a review
          </div>

          <div class="review-form">
            <div class="form-row">
              <input
                class="form-control"
                type="text"
                placeholder="Enter your email" />
            </div>
            <div class="form-row">
              <textarea class="form-control" placeholder="Enter your review"></textarea>
            </div>
            <div class="form-row">
              <button type="button" class="btn btn-primary">Submit My Review</button>
            </div>
          </div>
        </div>
      </div>

      <div class="list-reviews">
        <div class="reviews-panel">
          <div class="panel-title">
            List of reviews
          </div>

          <div class="panel-content">
            <div class="reviews">
              <div class="a-review">
                <div class="review-container">
                  <div class="reviewer">
                    <div class="email">
                      longnguyentpvt@gmail.com
                    </div>
                    <div class="datetime">
                      07 Oct, 2021
                    </div>
                  </div>

                  <div class="review-content">
                    <p>
                      Fusce commodo nisl ac aliquam volutpat. Quisque ac tellus magna. Cras dignissim lorem vel ante
                      auctor tempor. Sed venenatis elit quis aliquet vulputate. Aliquam eget turpis metus.
                      <br />
                      <br />
                      Nullam rutrum, mi ac mollis sodales, neque nunc sodales erat, pellentesque lobortis quam leo a
                      ante. Curabitur pellentesque, lacus id venenatis pretium, nulla quam imperdiet nisi, non iaculis
                      magna dolor at ante.
                    </p>
                  </div>
                </div>
              </div>

              <div class="a-review">
                <div class="review-container">
                  <div class="reviewer">
                    <div class="email">
                      longnguyentpvt@gmail.com
                    </div>
                    <div class="datetime">
                      07 Oct, 2021
                    </div>
                  </div>

                  <div class="review-content">
                    <p>
                      Fusce commodo nisl ac aliquam volutpat. Quisque ac tellus magna. Cras dignissim lorem vel ante
                      auctor tempor. Sed venenatis elit quis aliquet vulputate. Aliquam eget turpis metus.
                      <br />
                      <br />
                      Nullam rutrum, mi ac mollis sodales, neque nunc sodales erat, pellentesque lobortis quam leo a
                      ante. Curabitur pellentesque, lacus id venenatis pretium, nulla quam imperdiet nisi, non iaculis
                      magna dolor at ante.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>