<section
  id="job-resume-preview-page"
  ng-controller="JobResumePreviewCtrl">
  <div class="body-section">
    <div class="section-content">
      <div
        class="section-title"
        ng-if="resumePreview.tokenValid === true">
        <h4 ng-bind="jobDetail.jobTitle"></h4>
        <div class="location">
          Location: {{ jobDetail.jobLocation }}
        </div>
      </div>

      <div
        class="resume-preview-iframe"
        ng-if="resumePreview.tokenValid === true">
        <iframe
          ng-src="{{ trustSrc(resumePreview.url) }}"
          width="100%"
          height="400"></iframe>
      </div>

      <div
        ng-if="!!jobDetail.isExtend"
        class="writing-review extend-preview">
        <div class="writing-panel">
          <div ng-if="!extendForm.submitted && !extendForm.failed">
            <div class="text-primary">
              Would you like to extend this resume preview?
            </div>
            <br />
            <div>
              <button
                ng-disabled="extendForm.submitting"
                class="btn btn-primary"
                ng-click="extendPreview()">
                {{ !extendForm.submitting ? "Extend" : "Extending..." }}
              </button>
            </div>
          </div>
          <div ng-if="extendForm.submitted">
            <div class="text-success">
              Your preview has been extended successfully.<br/>
              Let share your resume preview to get more reviews.
            </div>
          </div>
          <div ng-if="extendForm.failed">
            <div class="text-error">
              Extending the resume preview has failed due to some reasons.<br/>
              Please contact us for more information.
            </div>
          </div>
        </div>
      </div>

      <div
        class="writing-review"
        ng-if="resumePreview.tokenValid === true && !jobDetail.isExtend">
        <div class="writing-panel">
          <div class="panel-title">
            Leave a review
          </div>
          <div
            class="review-form"
            ng-if="!writingForm.submitted && !writingForm.expired">
            <div class="form-row">
              <input
                ng-disabled="writingForm.submitting"
                ng-model="writingForm.email"
                class="form-control"
                type="text"
                placeholder="Enter your email" />
            </div>
            <div class="form-row">
              <textarea
                maxlength="500"
                ng-disabled="writingForm.submitting"
                ng-model="writingForm.content"
                class="form-control"
                placeholder="Enter your review"></textarea>
            </div>
            <div
              class="form-row"
              ng-if="writingForm.emailInvalid || writingForm.contentInvalid">
              <div
                class="text-danger"
                ng-if="writingForm.emailInvalid">
                Email is invalid.
              </div>
              <div
                class="text-danger"
                ng-if="writingForm.contentInvalid">
                Review content is required.
              </div>
            </div>
            <div class="form-row">
              <button
                ng-disabled="writingForm.submitting"
                type="button"
                class="btn btn-primary"
                ng-click="submitReview()">
                {{ !writingForm.submitting ? "Submit My Review" : "Submitting In Progress" }}
              </button>
            </div>
          </div>
          <div
            class="writing-notify-message"
            ng-if="writingForm.submitted || writingForm.expired">
            <div
              class="text-danger"
              ng-if="writingForm.expired">
              Access token has recently expired. Please ask for new access link to review.
            </div>
            <div
              class="text-success"
              ng-if="writingForm.submitted">
              Your review has been submitted successfully. Thanks for your contribution.
            </div>
          </div>
        </div>
      </div>

      <div
        class="list-reviews"
        ng-if="resumePreview.tokenValid === true && listReviews.length > 0">
        <div class="reviews-panel">
          <div class="panel-title">
            List of reviews
          </div>

          <div class="panel-content">
            <div class="reviews">
              <div
                ng-repeat="aReview in listReviews track by aReview.id"
                class="a-review">
                <div class="review-container">
                  <div class="reviewer">
                    <div
                      class="email"
                      ng-bind="aReview.feedbackUserEmail">
                    </div>
                    <div
                      class="datetime"
                      ng-bind="formatDateTime(aReview.uploadedAt)">
                    </div>
                  </div>

                  <div class="review-content">
                    <p ng-bind="aReview.resumeReview">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="text-danger token-error"
        ng-if="resumePreview.tokenValid === false">
        Access token has been expired.
      </div>
    </div>
  </div>
</section>
