@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';

a.btn.btn-default {
  border-width: 1px;
  color: #666666;
  background: transparent;
  border-color: #d6d6d6;
  font: 14px/16px museo700;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;

  .flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }

  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  &.grid {
    margin: -15px;

    > [class^=col-] {
      padding: 15px;
    }
  }
}


.align-items-center {
  align-items: center;
}

.card {
  background-color: #FFF;
  border-radius: 4px;

  .card-body {
    padding: 2rem 2.2rem;
  }
}

.badge {
  padding: 4px 8px;
  font-size: 11px;

  &.badge-warning {
    background-color: #8a6d3b;
  }

  &.badge-success {
    background-color: #7fb927;
  }

  &.badge-info {
    background-color: #337ab7;;
  }

  &.badge-danger {
    background-color: #a94442;
  }
}

.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem;
}

.form-group {
  .form-check-input {
    margin-top: 0;
    margin-right: .3125rem;
  }
  .form-check-label {
    margin-bottom: 0;
    margin-top: 2px;
  }
}
