@import 'common';
@import "auth";

// referral section
#referral {
  .body-section {
    .section-name {
      margin-bottom: 0.6em;
    }
  }

  .referral-setting-card {
    .link-explanation {
      margin-bottom: 0.8em;
    }

    .box-link {
      .box {
        padding: 0 2rem;
        color: #9099ad;
      }
    }
  }

  .setting-section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  .referral-link-list {
    margin-top: 1.5em;
  }

  .referral-link-panel {
    .context-name {
      margin-bottom: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .info-col {
      min-width: 0;
    }

    .link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'museo_slab500';
    }

    .ctrls {
      color: #337ab7;
      cursor: pointer;

      .fas {
        margin-left: 8px;
      }
    }
  }

  .resume-panel {
    .flex-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;
      -webkit-align-items: center;

      .flex-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
      }
    }

    .tile-filename,
    .tile-datetime {
      font-family: 'museo_slab500';
    }

    .tile-filename {
      margin-top: 1.5rem;
      margin-bottom: 0.8rem;
      font-size: 14px;
    }

    .tile-datetime {
      font-size: 12px;
      color: #9099ad;
    }

    .controls {
      margin-top: 1.5rem;

      a {
        margin-right: 0.5em;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &.target-resume-panel {
      .tile-datetime {
        margin-top: 0.6rem;
      }
    }
  }
}
// end referral section

// user management
#user-management {
  .top-filter-section {
    padding-top: 0.3em;
    padding-bottom: 1.5em;
  }



  .identify-filter {
    max-width: 350px;

    .filter-label {
      margin-bottom: 0.8rem;
    }
  }

  .user-row {
    margin-bottom: 1em;

    .top-info {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;

      .left-identify {
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important;
      }
    }

    .left-identify {

      .avatar {
        img {
          width: 60px;
        }

        padding-right: 1.2rem;
      }

      .avatar,
      .info-row {
        display: inline-block;
        vertical-align: middle;
      }

      .user-id {
        color: #9099ad;
        margin-bottom: 0.3rem;
      }
    }

    .right-controls {
      .fa {
        font-size: 18px;
      }
    }

    .info-col {
      .info-label {
        margin-bottom: 0.5rem;
      }

      .info-text {
        color: #AAA;
      }

      .referral-link {
        cursor: pointer;
      }
    }

    &:last-of-type {
      margin-bottom: 0em;
    }
  }
}

// end user management

// list jobs page
#job-list-page {
  .section-title {
    margin-bottom: 1em;
  }

  .top-filter {
    .top-filter-container {
      padding: 2em 1.5EM;
      background-color: #FFF;
      border-radius: 2px;
    }
  }

  .top-filter-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px;

    .filter-col {
      padding: 10px;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      &.btn-col,
      &.location-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
      }

    }

    .btn-search {
      .btn {
        width: 250px;
      }
    }

    .location-search-input {
      width: 320px;
    }

    @media (max-width: 1199.98px) {
      .filter-col {
        -webkit-box-flex: 0  !important;;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;;
        max-width: 50% !important;;

        &.btn-col {
          -ms-flex: 0 0 100% !important;;
          flex: 0 0 100% !important;;
          max-width: 100% !important;;
        }
      }

      .location-search-input {
        width: 100%;
      }

      .btn-search {
        .btn {
          width: auto;
        }
      }
    }
  }

  .list-jobs {
    background-color: #FFF;
    border-radius: 2px;

    .job-row {
      padding: 1.6em 1.2em;
      border-bottom: solid 1px #cbcbcb;
      cursor: pointer;

      &:last-of-type {
        border: none;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .job-panel {
        .title {
          font-family: 'museo700';
          font-size: 18px;
          line-height: 1.4em;
        }

        .location {
          margin-top: 0.6em;
          color: #9099ad;
        }

        .datetime {
          margin-top: 0.6em;
          font-family: 'museo_slab500';
        }

        .badge-success {
          background-color: #7fb927;
        }

        .type-badge {
          width: 100px;
          text-align: right;
        }
      }

      &:hover {
        .job-panel {
          .title {
            color:#337ab7
          }
        }
      }

      .flex-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        -webkit-align-items: center;

        .info-col {
          flex: 1 0 0;
        }
      }
    }

    .load-more-row {
      cursor: pointer;

      .load-more-btn {
        text-align: center;
        color: #337ab7;
        font-size: 16px;
      }

      &:hover {
        .load-more-btn {
          color: #23527c;
        }
      }
    }
  }

  .bottom-paging {
    .pagination {
      margin: 0;
    }
  }

  .jobs-result {
    padding-top: 2.4em;
  }
}
// end list jobs page
