<div
  ng-controller="JobsCtrl"
  data-ng-init="init()">

  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="jobSearch"
          placeholder="job title, keywords or company name"
          ng-model="searchText"
          autocomplete="off"
          ng-keydown="$event.which === 13 && searchText!='' && searchForJobs()" />
        <span class="input-group-btn">
          			<button
                  type="submit"
                  class="btn btn-default"
                  ng-click="searchForJobs();"
                  ng-disabled="searchText==''"><i
                  class="fa fa-search"
                  aria-hidden="true" />
                  </i> Search</button>
        		</span>
      </div>
    </div>
    <div class="col-md-3">
      <button
        class="btn  btn-danger pull-right"
        ng-click="resetJobSearch();"
        ng-show="searchMode">
        <i
          class="fa fa-share"
          aria-hidden="true"></i>
        Reset
      </button>
    </div>
    <div class="col-md-9">
      <div class="row hidden-xs">
        <div class="col-sm-12">
          <p class="text-right">{{totalJobs}} Jobs</p>
        </div>
      </div>
      <div
        ba-panel
        ba-panel-title="Jobs List"
        ba-panel-class="with-scroll">
        <div class="row">
          <div
            class="col-sm-12"
            dir-paginate="job in allJobs | filter:q | itemsPerPage: pageSize"
            current-page="currentPage"
            total-items="totalJobs">
            <div class="panel-group">
              <div class="panel panel-default bootstrap-panel">
                <div class="panel-body">
                  <h3 class="no-margin-top">
                    <a
                      href="/viewJob"
                      ng-click="viewJobsDetailsModel(job, $index);"
                      class="">{{job.jobTitle}}
                      <i class="fa fa-link color-white-mute font-1x"></i>
                    </a>
                  </h3>
                  <h5>
                    <span class="color-black"><span class="color-black bold">Agency: </span>{{job.agency}}</span>
                  </h5>
                  <div>
                    <span class="color-white-mute">{{job.createdDate}}</span>
                    <span
                      class="color-white-mute pull-right"
                      ng-show="isAdmin">{{getJobStatus(job.jobStatus)}}</span>
                  </div>
                  <span class="color-black pull-right"><span class="color-black bold">Recruiter: </span>{{job.recruiter}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pagination -->
        <nav>
          <dir-pagination-controls
            boundary-links="true"
            on-page-change="pageChanged(newPageNumber)"
            template-url="app/pages/jobs/templates/dirPagination.tpl.html">
          </dir-pagination-controls>
        </nav>
      </div>
    </div>
    <div class="col-md-3">
      <div
        ba-panel
        ba-panel-class="with-scroll lists-widget"
        ba-panel-title="Jobs Criteria">
        <div class="section-block">
          <div class="form-group">
            <label for="sortJobs">Sort by</label>
            <select
              name="sortJobs"
              id="sortJobs"
              ng-model="JobsSearch.sortyBy"
              ng-change="updateSortedJobs()"
              class="form-control">
              <option
                ng-repeat="option in jobsSearchCriteriaSortDropDown"
                value="{{option.id}}">{{option.name}}
              </option>
            </select>
          </div>
          <div
            js-tree="basicConfig"
            ng-model="dragData"
            tree="basicTree"
            tree-events="select_node:selectNode;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
