<div
  ng-controller="JobsCtrl"
  data-ng-init="initJiewPage()">

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-right">
            <a
              href="#"
              ng-href="/jobs">« Go back to job listings
            </a>
          </div>
        </div>
      </div>
      <div
        ba-panel
        ba-panel-class="with-scroll">

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <h2 style="font-weight: bold;">
                <a
                  href="#"
                  editable-text="selectedJob.jobTitle"
                  edit-disabled="!isAdmin"
                  id="jobTitle">{{ selectedJob.jobTitle || "" }}
                </a>
              </h2>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="Agency">Agency</label>
              <a
                href="#"
                editable-text="selectedJob.agency"
                edit-disabled="!isAdmin"
                id="Agency">{{ selectedJob.agency || "" }}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="recruiter">Recruiter</label>
              <a
                href="#"
                editable-text="selectedJob.recruiter"
                edit-disabled="!isAdmin"
                id="recruiter">{{ selectedJob.recruiter || "" }}
              </a>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="recruiterEmail">Recruiter Email</label>
              <a
                href="#"
                editable-email="selectedJob.recruiterEmail"
                edit-disabled="!isAdmin"
                id="recruiterEmail">{{ selectedJob.recruiterEmail || "" }}
              </a>
            </div>
          </div>
        </div>

        <h2 class="title"></h2>
        <div class="job-meta">
          <ul class="list-inline">
            <div class="row">
              <div class="col-xs-4">
                <span>Salary: </span>
                <input
                  type="number"
                  class="form-control"
                  ng-model="selectedJob.salaryRange"
                  ng-disabled="!isAdmin" />
              </div>
              <div class="col-xs-4">
                <span>Location: </span>
                <select
                  ng-model="selectedJob.jobLocation"
                  class="form-control"
                  ng-options="i.id as (i.cityName) for i in citiesList"
                  id="cities"
                  name="cities"
                  ng-disabled="!isAdmin">
                  <option></option>
                </select>
              </div>
              <div class="col-xs-4">
                <span>Job Type: </span>
                <select
                  ng-model="selectedJob.jobType"
                  class="form-control"
                  name="jobTypeList"
                  id="jobTypeList"
                  ng-options="i.id as (i.name) for i in jobTypeList"
                  ng-disabled="!isAdmin">
                  <option></option>
                </select>
              </div>
            </div>
          </ul>
          <ul class="list-inline">
            <div class="row">
              <div class="col-xs-6">
                <span>Created Date: </span>
                <input
                  type="text"
                  class="form-control"
                  ng-model="selectedJob.createdDate"
                  disabled="true" />
              </div>
              <div
                class="col-xs-6"
                ng-show="isAdmin">
                <span>Job Status: </span>
                <select
                  ng-model="selectedJob.jobStatus"
                  class="form-control"
                  ng-options="i.id as (i.name) for i in jobStatustDropDown">
                  <option></option>
                </select>
              </div>
            </div>
          </ul>
        </div>
        <ng-ckeditor
          ng-model="selectedJob.jobDescription"
          ng-config="viewJobEditor"
          ng-disabled="disableEditor">
        </ng-ckeditor>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="d-flex grid">
        <div class="col-auto">
          <div class="button-wrapper">
            <button
              type="button"
              class="btn btn-default btn-with-icon"
              data-toggle="modal"
              ng-click="openApplyJobModel()">Apply Job
            </button>
          </div>
        </div>
        <div class="col-auto" ng-show="isAdmin">
          <div class="button-wrapper">
            <button
              type="button"
              class="btn btn-primary btn-with-icon"
              data-toggle="modal"
              ng-click="openEditJobModel()">Edit Job
            </button>
          </div>
        </div>
        <div class="col-auto" ng-show="isFromMail">
          <div class="button-wrapper">
            <button
              type="button"
              class="btn btn-success btn-with-icon"
              data-toggle="modal"
              ng-click="openApproveJobModel()">Approve Job
            </button>
          </div>
        </div>
        <div class="col-auto" ng-show="isFromMail">
          <div class="button-wrapper">
            <button
              type="button"
              class="btn btn-info btn-with-icon"
              data-toggle="modal"
              ng-click="openRejectJobModel()">Reject Job
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
