<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <!-- <a ng-href="account" class="al-logo clearfix"><span>MyCV</span>Tracker</a> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="logo">
          <a ng-href="account" ><img src="assets/img/front/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 m-align">
					<ul class="upper-nav">
						<li><a href=""><span><i class="fab fa-facebook-f"></i></span></a></li>
						<li><a href=""><span><i class="fab fa-twitter"></i></span></a></li>
						<li><a href=""><span><i class="fab fa-instagram"></i></span></a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/register"><span class="btn-style">Sign Up</span></a></li>
					</ul>
				</div>
    </div>

  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu ng-if="$isAuthenticated"></a>

  <!--<div class="search">-->
    <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>-->
    <!--<input id="searchInput" type="text" placeholder="Search for...">-->
  <!--</div>-->

  <div class="user-profile clearfix" ng-if="$isAuthenticated">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'user' | profilePicture )}}">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a ng-href="settings"><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href="" ng-click="logout()" target="_self" class="signout" ng-controller="AuthCtrl"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <!--<msg-center></msg-center>-->
  </div>
</div>
</div>
