<section id="job-list-page" ng-controller="JobSpecListCtrl">
  <div class="body-section">
    <div class="section-content">
      <div class="section-title">
        <h3>Job List</h3>
      </div>

      <div class="top-filter">
        <div class="top-filter-container">
          <form ng-submit="searchJobList()">
            <div class="top-filter-row">
              <div class="filter-col">
                <div class="search-input title-search-input">
                  <input
                    ng-model="searchForm.title"
                    type="text"
                    class="form-control"
                    placeholder="Job title" />
                </div>
              </div>
              <div class="filter-col location-col">
                <div class="search-input location-search-input">
                  <input
                    ng-model="searchForm.location"
                    type="text"
                    class="form-control"
                    placeholder="Location" />
                </div>
              </div>
              <div class="filter-col btn-col">
                <div class="search-input btn-search">
                  <button
                    type="submit"
                    class="btn btn-primary">
                    REFINE YOUR SEARCH
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="jobs-result">
        <div class="list-jobs">
          <div class="job-row" ng-repeat="aJob in listJob track by aJob.id">
            <div class="job-panel">
              <div class="flex-row">
                <div class="info-col">
                  <div class="title" ng-if="!!aJob.referralTargetSubject" ng-bind="aJob.referralTargetSubject"></div>
                  <div class="title" ng-if="!aJob.referralTargetSubject">Title</div>
                  <div class="location" ng-if="!!aJob.jobLocation" ng-bind="aJob.jobLocation"></div>
                  <div class="location" ng-if="!aJob.jobLocation">Location: Undefined</div>
                  <div class="datetime" ng-if="!!aJob.publishedDate">posted at {{ getFormattedPostDate(aJob.publishedDate) }}</div>
                </div>

                <div class="type-col">
                  <span class="badge badge-success" ng-if="!!aJob.jobType" ng-bind="aJob.jobType"></span>
                  <span class="badge badge-success" ng-if="!aJob.jobType">Undefined</span>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="!loading && hasNext" class="job-row load-more-row" ng-click="loadMore()">
            <div class="load-more-btn">
              Load More Jobs
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>