<section id="account" ng-controller="AccountCtrl" data-ng-init="getUserTick()">
	<div class="col-sm-12">
		<h2 class="text-center">Welcome <strong ng-bind="user.firstName + ' !'">!</strong></h2>
		<h3 class="text-center">Available Tick: <strong ng-bind="userTick"></strong></h3>
	</div>
	<br/>
	<div class="row pie-charts">
		<div class="pie-chart-item-container" ng-repeat="chart in charts">
			<a ng-href="{{chart.link}}" ng-show="{{chart.showMenu}}">
				<div ba-panel>
					<div class="pie-chart-item">
						<div class="description">
							<div>{{ ::chart.description }}</div>
							<div class="description-stats">{{ ::chart.stats }}</div>
						</div>
						<i class="chart-icon i-{{ ::chart.icon }}"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>