<section
  id="referral"
  ng-controller="TargetResumeDetailCtrl">
  <div class="body-section list-resumes-section">
    <div class="section-content">
      <div
        ba-panel
        ba-panel-class="xsmall-panel light-text resume-panel target-resume-panel">
        <div class="job-detail">
          <div class="title">
            <h4>Job title fsdf dsf aof dsfong sdfg</h4>
          </div>
        </div>

        <hr class="resumeSeprator">

        <div class="flex-row">
          <div class="flex-fill">
            <h5
              class="resume-title">Application.docx</h5>
            <div
              class="tile-datetime">13 Jun 2021</div>
          </div>

          <div>
            <span
              class="badge badge-warning">Job Applied</span>
          </div>
        </div>

        <div class="controls">
          <a
            href="#"
            title="Download">
            <i class="fa fa-download"></i>
          </a>
          <a
            href="#"
            title="Preview">
            <i class="fas fa-search"></i>
          </a>
          <a
            href="#"
            title="Share to parent">
            <i class="fas fa-external-link-square-alt"></i>
          </a>
          <a
            href="#"
            title="Update Status">
            <i class="fas fa-edit"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>