


	<section id="account">	

		<div class="container full">	

			<div class="row form-group">
				<div class="col-sm-12">
					<h2 class="text-center">CV Marketing</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-12">

					<div class="row">

						<div class="col-sm-6 col-sm-offset-3">

							<div>
								<form name="myForm">
									<label for="repeatSelect"> Select Campaigns: </label>
									<select name="repeatSelect" id="repeatSelect" ng-model="user.currentCampaign">
										<option ng-repeat="mycampaign in user.myCampaigns" value="{{mycampaign.id}}">{{mycampaign.campaign}}</option>
									</select>
								</form>
								<hr>
							</div>

							<form name="CvMarketingForm">

								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.subject.$invalid && !CvMarketing.subject.$pristine }">
									<div class="control-label">Subject</div>
									<input type="text" class="form-control" placeholder="Subject" ng-model="CvMarketing.subject" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.content.$invalid && !CvMarketing.content.$pristine }">
									<div class="control-label">Content</div>
									<textarea class="form-control" placeholder="Content" ng-model="CvMarketing.content" ng-required="true"></textarea>
								</div>

								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.target.$invalid && !CvMarketing.target.$pristine }">
									<div class="control-label">Target</div>
									<textarea class="form-control" placeholder="Put Your Targets sep by comma" ng-model="CvMarketing.target" ng-required="true"></textarea>
								</div>

								<!--<div class="form-group">-->
									<!--<div class="control-label">Campaign File</div>-->
									<!--<input type="file" class="form-control" placeholder="Campaign File" file-model="myFile"  accept=".doc,.pdf,.docx" id="fileUpload"/>-->
								<!--</div>-->

								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.campaign.$invalid && !CvMarketing.campaign.$pristine }">
									<div class="control-label">Campaign</div>
									<input type="text" class="form-control" placeholder="Java Jobs,Solution Architect etc." ng-model="CvMarketing.campaign" ng-required="true" />
								</div>

								<!--<div class="form-group" ng-class="{ 'has-error' : CvMarketing.phoneNo.$invalid && !CvMarketing.phoneNo.$pristine }">-->
									<!--<div class="control-label">Phone No</div>-->
									<!--<input type="text" class="form-control" placeholder="Phone No .." ng-model="CvMarketing.phoneNo" ng-required="true" />-->
								<!--</div>-->

								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.userAccount.$invalid && !CvMarketing.userAccount.$pristine }">
									<div class="control-label">User Account</div>
									<input type="text" class="form-control" placeholder="userAccount" ng-model="CvMarketing.userAccount" ng-required="true" />
								</div>

								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.userPassword.$invalid && !CvMarketing.userPassword.$pristine }">
									<div class="control-label">userPassword</div>
									<input type="password" class="form-control" placeholder="userPassword" ng-model="CvMarketing.userPassword" ng-required="true" />
								</div>

								<!--<div class="form-group" ng-class="{ 'has-error' : CvMarketing.notes.$invalid && !CvMarketing.notes.$pristine }">-->
									<!--<div class="control-label">Notes</div>-->
									<!--<textarea class="form-control" placeholder="Notes" ng-model="CvMarketing.notes" ng-required="true"></textarea>-->
								<!--</div>-->



								<div class="form-group" ng-class="{ 'has-error' : CvMarketing.resume.$invalid && !CvMarketing.resume.$pristine }">
									<div class="control-label">Resume</div>
									<select
										class="form-control" 
										data-placeholder="Resume Title" 
										ng-model="CvMarketing.resumeId"
										ng-required="true">
										<option value=""></option>
										<option ng-repeat="resume in user.myResumes" value="{{resume.id}}">{{resume.resumeTitle}}</option>
									</select>
								</div>

								<div class="form-group" style="margin-top: 40px;">
									<button type="button" class="btn btn-primary btn-block" ng-disabled="CvMarketingForm.$invalid" ng-click="
									postRequest(CvMarketingForm, CvMarketing)">Proceed</button>
								</div>

							</form>

						</div>

					</div>
					
				</div>

			</div>

		</div>

	</section>