
<nav class="navbar navbar-primary navbar-fixed-top " ng-show="!Authorization.isAuthenticated()">
  <div class="container">

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/about"><i class="material-icons">account_balance</i> About us</a></li>
        <li><a href="/jobs"> <i class="material-icons">dns</i> Jobs</a></li>
        <li><a href="/events"><i class="material-icons">view_day</i>Events</a></li>
        <li><a href="/sponsors"><i class="material-icons">people</i>Sponsors</a></li>
        <li><a href="/register"><i class="material-icons">person_add</i>Register</a></li>
        <li><a href="/login"><i class="material-icons">fingerprint</i>Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">view_carousel</i>
            Trainings  <b class="caret"></b>
          <ul class="dropdown-menu">
            <li><a href="#">Java Developer Course</a></li>
            <li><a href="#">Career Networking / Mentoring for IT Graduates</a></li>
            <li><a title="Microservices with Spring Cloud" href="#">Microservices with Spring Cloud</a></li>
            <li><a title="Selenium Training" href="#">Selenium Training</a></li>
          </ul>
          </a>
        </li>

        <li><a href="/contact"><i class="material-icons">call</i>Contact us</a></li>
      </ul>
    </div>


    </div>

  </div>
</nav>