<div id="categorizing-job-modal">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="closeModal()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4
      class="modal-title">Update job category</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row" ng-repeat="category in jobCategorizingForm.categories track by category.categoryId">
      <label class="col-xs-12 col-md-3 col-form-label">
        Category {{ $index + 1 }}
      </label>
      <div class="col-xs-12 col-md-7">
        <div class="category-name">
          {{ category.name }}
        </div>
      </div>
      <div class="col-xs-12 col-md-2 icon-col">
        <i class="fas fa-trash text-danger" ng-click="removeCategoryFromList($index)"></i>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-xs-12 col-md-3 col-form-label">
        New Category
      </label>
      <div class="col-xs-12 col-md-7">
        <select class="form-control"
                ng-disabled="jobCategorizingForm.smartBuilding || jobCategorizingForm.updating"
                ng-model="jobCategorizingForm.newCategoryId">
          <option value="">Choose category to add</option>
          <option ng-repeat="category in ::jobCategorizingForm.defaultCategories track by category.id" ng-value="::category.id">
            {{ ::category.name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-md-2 icon-col">
        <i class="fas fa-plus-square text-primary" ng-click="addCategoryToList()"></i>
      </div>
    </div>
  </div>
  <div
    class="modal-footer clearfix">
    <div class="note">
      Smart categories ...  laoreet fringilla elit imperdiet id. Sed non volutpat urna. Nam a consectetur diam. Mauris vitae lorem in nibh suscipit ultrices vitae ut nulla.
    </div>
    <button
      ng-disabled="jobCategorizingForm.smartBuilding || jobCategorizingForm.updating"
      type="submit"
      ng-click="buildSmartCategories()"
      class="btn btn-danger">
      {{ jobCategorizingForm.smartBuilding ? "Building Smart Category..." : "Build Smart Category" }}
    </button>
    <button
      ng-disabled="jobCategorizingForm.smartBuilding || jobCategorizingForm.updating"
      type="submit"
      ng-click="categorizeJob()"
      class="btn btn-primary">
      {{ jobCategorizingForm.updating ? "Updating..." : "Update" }}
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      ng-click="closeModal()">
      Cancel
    </button>
  </div>
</div>

