<form
  name="newReferralLinkForm"
  ng-submit="generateLink()"
  novalidate>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="closeModal()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" ng-if="!newReferralForm.editing">Generate Referral Link</h4>
    <h4 class="modal-title" ng-if="newReferralForm.editing">Edit Referral Link</h4>
  </div>
  <div>
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Referral Type</label>
        <select
          ng-disabled="newReferralForm.editing"
          ng-model="newReferralForm.type"
          class="form-control">
          <option ng-value="REFERRAL_TYPE.TEXT_LINK">Text Link</option>
          <option ng-value="REFERRAL_TYPE.JOB_SPEC">Job</option>
          <option ng-value="REFERRAL_TYPE.SOCIAL_SHARE">Social</option>
        </select>
      </div>
<!--      <div class="form-group" ng-if="newReferralForm.type === REFERRAL_TYPE.TEXT_LINK">-->
<!--        <label class="control-label">Referral Context</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          placeholder="Enter context name"-->
<!--          ng-model="newReferralForm.description"-->
<!--          ng-required="true" />-->
<!--      </div>-->
      <div class="form-group">
        <label class="control-label">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter title"
          ng-model="newReferralForm.title"
          ng-required="true" />
      </div>
      <div class="form-group" ng-if="newReferralForm.type === REFERRAL_TYPE.TEXT_LINK">
        <label class="control-label">Profile link</label>
        <input
          type="text"
          class="form-control"
          ng-maxlength="250"
          placeholder="Enter your profile link"
          ng-model="newReferralForm.previewLink"
          ng-required="true" />
      </div>
      <div class="form-group" ng-if="newReferralForm.type === REFERRAL_TYPE.JOB_SPEC">
        <label class="control-label">Email</label>
        <input
          ng-disabled="newReferralForm.editing"
          type="text"
          class="form-control"
          placeholder="Enter email"
          ng-model="newReferralForm.email"
          ng-required="true" />
      </div>
      <div class="form-group" ng-if="newReferralForm.type === REFERRAL_TYPE.JOB_SPEC">
        <label class="control-label">Job type</label>
        <input
          type="text"
          class="form-control"
          placeholder="Fulltime, partime, remote, ..."
          ng-model="newReferralForm.jobType"
          ng-required="true" />
      </div>
      <div class="form-group" ng-if="newReferralForm.type === REFERRAL_TYPE.JOB_SPEC">
        <label class="control-label">Location</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter location"
          ng-model="newReferralForm.location"
          ng-required="true" />
      </div>
      <div class="form-group">
        <label class="control-label">Description</label>
        <ng-ckeditor
          ng-model="newReferralForm.description"
          remove-buttons="Image"
          remove-plugins="iframe,flash,smiley" >
        </ng-ckeditor>
      </div>
    </div>
    <div class="modal-footer clearfix" ng-if="!newReferralForm.isChildRef">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        ng-disabled="newReferralLinkForm.$invalid || newReferralForm.generating">
        <span ng-if="!newReferralForm.generating">{{ !newReferralForm.editing ? "Generate" : "Edit" }}</span>
        <span ng-if="newReferralForm.generating">{{ !newReferralForm.editing ? "Generating" : "Editing" }}</span>
      </button>
    </div>
  </div>
</form>
