<section
  id="referral"
  ng-controller="ReferralCtrl">
  <div class="body-section setting-section">
    <h4 class="section-name">List of referrals</h4>

    <div class="section-content">
      <div
        class="card referral-setting-card"
        ng-if="!!referral.isManagement">
        <div class="card-body">
          <p class="link-explanation">
            This section generates referral links for our portal users. At present it can generate job referral ,social
            and plain text links.
          </p>

          <div>
            <div class="setting-btn">
              <button
                type="button"
                class="btn btn-danger"
                ng-click="openNewReferralLinkModal()">
                Generate Link
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="referral-link-list">
        <div class="row">
          <div
            class="col-12 col-md-6"
            ng-repeat="referral in referral.links track by referral.id">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text referral-link-panel">
              <div class="d-flex">
                <div class="info-col flex-fill">
                  <div
                    ng-if="referral.referralType === REFERRAL_TYPE.TEXT_LINK || !referral.referralType"
                    class="context-name">
                    <span ng-if="referral.referralTargetSubject.length">{{referral.referralTargetSubject}}</span>
                    <span ng-if="!referral.referralTargetSubject.length">-</span>
                  </div>
                  <div
                    ng-if="referral.referralType === REFERRAL_TYPE.SOCIAL_SHARE"
                    class="context-name">
                    <span ng-if="referral.referralTargetSubject.length">{{referral.referralTargetSubject}}</span>
                    <span ng-if="!referral.referralTargetSubject.length">Social Description</span>
                  </div>
                  <div
                    ng-if="referral.referralType === REFERRAL_TYPE.JOB_SPEC"
                    class="context-name">
                    <span ng-if="!referral.referralTargetSubject.length">Job Description</span>
                    <span ng-if="referral.referralTargetSubject.length">{{ referral.referralTargetSubject }}</span>
                  </div>
                  <div
                    class="referral-type"
                    ng-if="referral.referralType === REFERRAL_TYPE.TEXT_LINK">
                    Text
                  </div>
                  <div
                    class="referral-type"
                    ng-if="referral.referralType === REFERRAL_TYPE.JOB_SPEC">
                    Job Spec
                  </div>
                  <div
                    class="referral-type"
                    ng-if="referral.referralType === REFERRAL_TYPE.SOCIAL_SHARE">
                    Social Share
                  </div>
                </div>

                <div
                  class="ref-stt"
                  ng-if="!!referral.parentReferralId">
                  <div class="badge badge-warning">Child Ref</div>
                </div>
              </div>

              <div class="link">
                <a
                  ng-href="{{ getReferralLink(referral) }}"
                  target="_blank">{{ getReferralLink(referral) }}
                </a>
              </div>

              <div class="list-status">
                <div class="ref-status">
                  <span ng-class="['status-color', referral.bountyEnable ? 'enabled' : '' ]"></span>
                  <span style="vertical-align: middle">{{ referral.referralType === REFERRAL_TYPE.TEXT_LINK ? "No bounty" : "Bounty disabled" }}</span>
                </div>
                <div class="ref-status" ng-if="referral.referralType === REFERRAL_TYPE.JOB_SPEC">
                  <span ng-class="['status-color', referral.refPublic ? 'enabled' : '' ]"></span>
                  <span style="vertical-align: middle">Published</span>
                </div>
              </div>

              <div class="ctrls">
                <div class="ctrls-container d-flex align-items-center">
<!--                  <a-->
<!--                    ng-if="!referral.parentReferralId"-->
<!--                    ng-click="openNewReferralLinkModal(referral)"-->
<!--                    title="Edit referral">-->
<!--                    <i class="fas fa-edit"></i>-->
<!--                  </a>-->

                  <a
                    href="#"
                    title="Copy"
                    ng-click="copyLink(referral)">
                    <i class="fas fa-copy"></i>
                  </a>

                  <a
                    ng-href="{{getResumesLink(referral.referralType, referral.referralLink, referral.parentReferralId)}}"
                    title="List resumes">
                    <i class="fas fa-list-alt"></i>
                  </a>

<!--                  <a-->
<!--                    class="trash-ctrl"-->
<!--                    href="#"-->
<!--                    title="Delete"-->
<!--                    ng-click="openDeleteReferralLinkModal(referral.referralLink)">-->
<!--                    <i class="fas fa-trash"></i>-->
<!--                  </a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row"
          ng-if="!referral.listing && referral.hasNext">
          <div
            class="col-12">
            <div class="text-center">
              <button
                ng-click="loadNextPage()"
                class="btn btn-primary">
                Load More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
