<section
  id="referral"
  ng-controller="ReferralCtrl">
  <div class="body-section setting-section">
    <h4 class="section-name">Referral link</h4>

    <div class="section-content">
      <div class="card referral-setting-card">
        <div class="card-body">
          <p class="link-explanation">
            Maecenas rutrum metus sit amet metus laoreet pulvinar. Fusce facilisis rhoncus quam sit amet laoreet. Nullam
            nunc nibh, vestibulum vitae posuere non, dapibus id velit.
            <br />
            Nullam et tellus sodales, interdum diam a, consectetur augue. Pellentesque et sapien nibh.
          </p>

          <div>
            <div class="setting-btn">
              <button
                type="button"
                class="btn btn-danger"
                ng-click="openNewReferralLinkModal()">
                Generate Link
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="referral-link-list">
        <div class="row">
          <div
            class="col-12 col-xl-3 col-md-4"
            ng-repeat="referral in referral.links track by referral.id">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text referral-link-panel">
              <div class="d-flex">
                <div class="info-col flex-fill">
                  <div
                    ng-if="referral.referralType === REFERRAL_TYPE.TEXT_LINK || !referral.referralType"
                    class="context-name">
                    <span ng-if="referral.referralDetails.length">{{referral.referralDetails}}</span>
                    <span ng-if="!referral.referralDetails.length">-</span>
                  </div>
                  <div
                    ng-if="referral.referralType === REFERRAL_TYPE.SOCIAL_SHARE"
                    class="context-name"
                    ng-click="openReferralDescriptionModal(referral.referralDetails)">
                    <a href="#">Social Description</a>
                  </div>
                  <div
                    ng-if="referral.referralType === REFERRAL_TYPE.JOB_SPEC"
                    class="context-name"
                    ng-click="openReferralDescriptionModal(referral.referralDetails, referral.referralTargetEmail)">
                    <a href="#">
                      <span ng-if="!referral.referralTargetSubject.length">Job Description</span>
                      <span ng-if="referral.referralTargetSubject.length">{{ referral.referralTargetSubject }}</span>
                    </a>
                  </div>
                  <div
                    class="link"
                    ng-if="referral.referralType === REFERRAL_TYPE.TEXT_LINK || !referral.referralType">
                    https://mycvtracker.com/topcvreviews.html?ref=<span ng-bind="referral.referralLink"></span>
                  </div>
                  <div
                    class="link"
                    ng-if="referral.referralType === REFERRAL_TYPE.JOB_SPEC">
                    https://mycvtracker.com/job-spec.html?ref=<span ng-bind="referral.referralLink"></span>
                  </div>
                  <div
                    class="link"
                    ng-if="referral.referralType === REFERRAL_TYPE.SOCIAL_SHARE">
                    https://mycvtracker.com/referral/social-share?ref=<span ng-bind="referral.referralLink"></span>
                  </div>
                </div>

                <div class="ctrls">
                  <div class="ctrls-container d-flex align-items-center">
                    <a
                      href="#"
                      title="Copy"
                      ng-click="copyLink(referral.referralType, referral.referralLink)">
                      <i class="fas fa-copy"></i>
                    </a>

                    <a
                      ng-href="{{getResumesLink(referral.referralLink, referral.parentReferralLink)}}"
                      title="List resumes">
                      <i class="fas fa-list-alt"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
