<div class="modal-header">
  <h4 class="modal-title">Share Referral Link</h4>
</div>
<div>
  <div class="modal-body">
    <h5 class="text-info" ng-if="referral.shareReferral.generating">
      <br/>
      Generating referral link...
      <br/>
    </h5>
    <div ng-if="referral.shareReferral.refCode.length > 0">
      <br/>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in aliquam justo.
      </div>
      <br/>
      <a href="#" ng-bind="getRefLink(referral.shareReferral.referralType, referral.shareReferral.refCode, referral.shareReferral.referralTargetSubject)"></a>
      <br/>
      <br/>
    </div>
  </div>
  <div
    ng-if="referral.shareReferral.refCode.length > 0"
    class="modal-footer clearfix">
    <button
      type="button"
      class="btn btn-secondary" ng-click="closeModal()">
      Close
    </button>
  </div>
</div>
