<div class="modal-header">
  <h4 class="modal-title">Share Resumes To Parent</h4>
</div>
<div class="modal-body">
  <h5 ng-if="!referral.shareResume.success">Would you like to continue sharing referred resumes to parent referral?</h5>
  <h5 class="text-success" ng-if="referral.shareResume.success">Referred resumes has been shared to parent referral successfully!</h5>
</div>
<div
  class="modal-footer clearfix">
  <button
    ng-disabled="referral.shareResume.sharing"
    ng-if="!referral.shareResume.success"
    ng-click="!referral.shareResume.sharing && shareReferredResumes()"
    type="button"
    class="btn btn-primary" ng-bind="referral.shareResume.sharing ? 'Sharing...' : 'Share'">
  </button>
  <button
    type="button"
    class="btn btn-secondary" ng-click="!referral.shareResume.sharing && closeModal()">
    Cancel
  </button>
</div>