<section
  id="resumes-listing-page"
  ng-controller="ResumesListingCtrl">
  <div class="body-section">
    <div class="section-content">
      <div class="section-title">
        <h3>Resumes</h3>
      </div>

      <div class="resumes-list-result">
        <div class="row">
          <div
            ng-if="loadInfo.isManagement"
            ng-repeat="aResume in listResumes track by aResume.id"
            class="col-xs-12 col-md-6">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="resume-title">
                <a
                  ng-href="/job-resume-preview?previewToken={{ aResume.previewToken }}"
                  ng-bind="aResume.resumeName"
                  target="_blank"></a>
              </div>

              <div
                class="owner"
                ng-bind="aResume.ownerEmail"></div>

              <div class="detail-row">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="detail-info">
                      <div class="info-label">
                        {{ !!aResume.originalExpired ? "Original expired at" : "Original expires at" }}

                      </div>
                      <div ng-class="['info-val',(!!aResume.originalExpired ? 'text-danger' : '')]">
                        {{ !!aResume.originalPreviewExpiresAt ? getFormattedDate(aResume.originalPreviewExpiresAt) : "-" }}
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-6">
                    <div class="detail-info">
                      <div class="info-label">
                        {{ !!aResume.maskedExpired ? "Masked expired at" : "Masked expires at" }}
                      </div>
                      <div ng-class="['info-val',(!!aResume.maskedExpired ? 'text-danger' : '')]">
                        {{ !!aResume.previewExpiresAt ? getFormattedDate(aResume.previewExpiresAt) : "-" }}
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-6">
                    <div class="detail-info">
                      <div class="info-label">
                        Original link
                      </div>
                      <div class="info-val preview-link">
                        <a
                          target="_blank"
                          ng-href="https://mycvtracker.com/resumes/{{ aResume.originalLinkId }}"
                          ng-if="!!aResume.originalLinkId">
                          {{ aResume.originalLinkId }}
                        </a>
                        <span
                          href=""
                          ng-if="!aResume.originalLinkId">
                      n/a
                    </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-6">
                    <div class="detail-info">
                      <div class="info-label">
                        Masked link
                      </div>
                      <div class="info-val preview-link">
                        <a
                          target="_blank"
                          ng-href="https://mycvtracker.com/resumes/{{ aResume.maskedLinkId }}"
                          ng-if="!!aResume.maskedLinkId">
                          {{ aResume.maskedLinkId }}
                        </a>
                        <span ng-if="!aResume.maskedLinkId">
                      n/a
                    </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-6">
                    <div class="detail-info">
                      <div class="info-label">
                        Uploaded at
                      </div>
                      <div class="info-val">
                        {{ getFormattedPostDate(aResume.uploadedAt) }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="detail-info listing-ctrl">
                      <div
                        class="listing-status"
                        ng-if="!!loadInfo.isAdmin || !!loadInfo.isReviewer">
                        <label
                          ng-class="['switch',(aResume.listingActive ? 'active': '')]"
                          ng-click="toggleListingActive(aResume)">
                          <span class="slider round"></span>
                        </label>

                        <label class="switch-label">
                          {{ !aResume.listingActive ? "Not listed" : "Listed" }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu-ctrl">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      ng-click="openExtendModal(aResume, false)"
                      class="dropdown-item"
                      href="#">Extend masked preview
                    </a>
                    <a
                      ng-click="openExtendModal(aResume, true)"
                      class="dropdown-item"
                      href="#"
                      ng-if="!!aResume.originalPreviewExpiresAt">Extend original preview
                    </a>
                    <a
                      ng-click="openAddToCvBoxModal(aResume)"
                      class="dropdown-item"
                      href="#">Add to Cv Box
                    </a>
                    <a
                      ng-click="openUpdateSkillModal(aResume.id)"
                      class="dropdown-item"
                      href="#">Categorized skills
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            ng-if="!loadInfo.isManagement"
            ng-repeat="aResume in listResumes track by aResume.id"
            class="col-xs-12 col-md-3">
            <div
              ba-panel
              ba-panel-class="xsmall-panel light-text resume-panel">
              <div class="resume-title">
                <a
                  ng-href="/job-resume-preview?previewToken={{ aResume.previewToken }}"
                  ng-bind="aResume.resumeName"
                  target="_blank"></a>
              </div>

              <div
                class="owner"
                ng-bind="aResume.ownerEmail"></div>

              <div
                class="tile-datetime">Uploaded at {{ getFormattedPostDate(aResume.uploadedAt) }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="more-ctrl"
          ng-if="loadInfo.hasNext && !loadInfo.loading">
          <button
            class="btn btn-primary"
            ng-click="loadMore()">
            Load More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
